@charset "UTF-8";
@import url(reset.css);

/* 프리텐다드 */

@font-face {
    font-family: 'Pretendard-Black';
    src: url('/portfolio/font/Pretendard/Pretendard-Black.woff') format('woff2'),
        url('/portfolio/font/Pretendard/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('/portfolio/font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('/portfolio/font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('/portfolio/font/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('/portfolio/font/Pretendard/Pretendard-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('/portfolio/font/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('/portfolio/font/Pretendard/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('/portfolio/font/Pretendard/Pretendard-Light.woff2') format('woff2'),
        url('/portfolio/font/Pretendard/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('/portfolio/font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('/portfolio/font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('/portfolio/font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('/portfolio/font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('/portfolio/font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('/portfolio/font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-Thin';
    src: url('/portfolio/font/Pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('/portfolio/font/Pretendard/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* 딜라이트 */

@font-face {
    font-family: 'Delight';
    src: url('/portfolio/font/delight/delight-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Delight';
    src: url('/portfolio/font/delight/delight-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Delight';
    src: url('/portfolio/font/delight/delight-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Delight';
    src: url('/portfolio/font/delight/delight-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Delight';
    src: url('/portfolio/font/delight/delight-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Delight';
    src: url('/portfolio/font/delight/delight-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Delight';
    src: url('portfolio/font/delight/delight-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Delight';
    src: url('portfolio/font/delight/delight-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Delight';
    src: url('portfolio/font/delight-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: #EFEFEF;
}


.header {
    width: 100%;
    height: 100px;
    color: #111111;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;

    transition: color 0.2s ease;
}

.header .inner {
    max-width: 1880px;
    width: calc(100% - 44px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    position: relative;
}

.header .logo a {
    font-size: 35px;
    font-family: 'Pretendard-Black';
    font-weight: 900;
}

.header .inner .nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header .inner .nav .gnb {
    display: flex;
    gap: 120px;
    font-size: 25px;
    font-family: 'Pretendard-Bold';
    font-weight: bold;
}

.header .inner .nav .gnb li sup {
    font-size: 15px;
    font-family: 'Pretendard-Medium';
    font-weight: 500;
}

#section00 {
    width: 100%;
    height: 920px;
    position: relative;
}

#section00 .inner {
    max-width: 1880px;
    width: calc(100% - 44px);
    height: 100%;
    margin: 0 auto;
}

#section00 .inner .main_wrap {
    position: absolute;
    bottom: 0;
}

#section00 .inner .title_wrap {
    width: 1800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

#section00 .inner .title_wrap .title_left {
    font-size: 25px;
    font-family: 'Delight';
    font-weight: 600;
    color: #333;
}

#section00 .inner .title_wrap .title_right_wrap {
    display: flex;
    gap: 70px;
}

#section00 .inner .title_wrap .title_right_wrap .title_right {
    font-size: 25px;
    font-family: 'Pretendard-SemiBold';
    font-weight: 600;
}

#section00 .inner .title_wrap .title_right_wrap .title_right span {
    color: #9E9E9E;
}

#section00 .inner .title_wrap .title_right_wrap .title_right p {
    color: #333333;
    margin-top: 24px;
}

#section00 .inner .image {
    width: 1880px;
}

#section00 .inner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section01 {
    width: 100%;
    height: 920px;
    background-color: #111111;
    position: relative;
    color: #ffffff;
    padding-top: 100px;
    position: relative;
}

#section01 .inner {
    max-width: 1880px;
    width: calc(100% - 200px);
    height: 100%;
    margin: 0 auto;

    display: flex;
}

#section01 .inner .profile {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

#section01 .profile .photo {
    max-width: 450px;
    max-height: 450px;
    width: 90%;
    height: 28vw;
    overflow: hidden;
    margin-right: 80px;

}

#section01 .profile .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section01 .profile .myinfo {
    width: 450px;
    margin-top: 60px;
}

#section01 .profile .myinfo ul {
    font-size: 20px;
}

#section01 .profile .myinfo ul li {
    margin-bottom: 25px;
}

#section01 .profile .myinfo ul strong {
    margin-right: 40px;
}

#section01 .line {
    margin-left: 80px;
}

#section01 .line .sub {
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: -3px;
}

#section01 .line .sub strong {
    font-family: 'Pretendard-Black';
    font-weight: 900;
}

#section01 .line .textbox {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    white-space: nowrap;

}

#section01 .line>div {
    margin-bottom: 60px;
}

#section01 .line h4 {
    font-size: 18px;
    font-family: 'Delight';
    font-weight: 600;
    margin-bottom: 28px;
    letter-spacing: -3;
}

#section01 .line p {
    font-size: 18px;
    font-family: 'Delight';
    font-weight: 600;
    margin-bottom: 3px;
    letter-spacing: -1px;
    line-height: 1.3;
    color: #9E9E9E;
}

#section01 .line span {
    font-size: 18px;
    font-family: 'Pretendard-Light';
    font-weight: 300;
    letter-spacing: -1.5px;
    line-height: 1.5;
}

#section01 .line .text div {
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    font-weight: normal;
    color: #9E9E9E;
    margin-top: 3px;

}

.margin .text {
    margin-left: 20px;
}

.line03 {
    margin-top: 170px;
}

#section01 .line .skills .icon_box {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

#section01 .line .experience {
    margin-top: 143px;
}

#section01 .line .experience span {
    margin-bottom: 26px;
}

#section01 .fp-arrow.fp-next,
#section01 .fp-arrow.fp-prev {
    background: none;
    border: none;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#section01 .fp-arrow.fp-next::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/go_gray.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    position: absolute;
    top: -350px;
    right: 20px;
}

#section02 {
    width: 100%;
    height: 920px;
    background-color: #111111;
    position: relative;
    color: #ffffff;
    position: relative;
}

#section02 .inner {
    max-width: 1880px;
    width: calc(100% - 44px);
    height: 100%;
    margin: 0 auto;
}

#section02 .image {
    position: absolute;
    top: 200px;
    right: 200px;
}

#section02 .text {
    position: absolute;
    bottom: 120px;
    left: 160px;
}

#section02 .text p {
    font-size: 20px;
    font-family: 'Pretendard-Regular';
    font-weight: normal;
    letter-spacing: -1.5px;
    line-height: 1.7;
    color: #9E9E9E;
}

#section03 {
    width: 100%;
    height: 920px;
    background-color: #111111;
    position: relative;
    color: #ffffff;
    position: relative;
}